.about-me-page {
  height: 90vh;
  background-color: #faf0fc;

  color: black;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: stretch;
  padding-top: 40px;
  @media screen and (max-width: 1366px) {
    height: 100vh;
  }
}

.about-me-pic {
  padding: 50px;
  margin-top: 20px;
  filter: drop-shadow(-20px -30px 0px #827397);
  width: 475px;
}

#sawara-abt {
  width: 500px;
}

.about-me-header {
  font-size: xxx-large;
  text-decoration: underline;
  letter-spacing: 1px;
  font-family: biorhyme;
  @media screen and (max-width: 1366px) {
    font-size: xxx-large;
    text-decoration: underline;
    letter-spacing: 1px;
    font-family: biorhyme;
  }
}

.about-me-text {
  height: 60vh;
  margin-top: 40px;
  font-size: x-large;
  width: 45%;
  padding-right: 60px;
  font-family: opensans;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  @media screen and (max-width: 1366px) {
    margin-top: 40px;
    font-size: large;
  }
}

.c1bspan:hover {
  text-decoration: underline;
  cursor: pointer;
}
