.about-me-page {
  height: 100vh;
  background-color: #faf0fc;

  color: black;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: stretch;
}

.about-me-pic {
  padding: 50px;
  margin-top: 20px;
  filter: drop-shadow(-20px -30px 0px #827397);
  width: 475px;
}

.about-me-header {
  font-size: xxx-large;
  text-decoration: underline;
  letter-spacing: 1px;
  font-family: biorhyme;
}

.about-me-text {
  margin-top: 40px;
  font-size: large;
  width: 45%;
  padding-right: 60px;
  font-family: opensans;
}
