.projects-page-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  width: 100vw;
  height: 100vh;
  background-color: #faf0fc;
  /* padding: 0px 20px; */
  overflow-x: hidden;
}

.projects-page-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  color: black;
  width: 100vw;
}

.ecolumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.projects-page-title {
  margin-top: 30px;
  font-size: xx-large;
  font-family: biorhyme;
}

.each-project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding: 30px 30px 0px 30px;
  height: 72vh;
}

.each-project:hover {
  transform: scale(1.02);
}

.e-text {
  text-align: center;
  margin-top: -80px;
}

.e-projectTitle {
  font-family: biorhyme;
  font-size: 26px;
  padding-top: 35px;
}

.e-projectDesc {
  font-size: 18px;
  padding-bottom: 15px;
  text-align: center;
  padding: 10px 15px;
}

.e-icon {
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 20px 6px;
  margin-top: -10px;
}

.e-border {
  width: 100%;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid black;
}
.project-page {
  /* height: 100vh; */
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.project-header {
  font-size: xxx-large;
  font-family: biorhyme;
  color: #4c2f63;
  padding-top: 26px;
  text-align: center;
}

.section-header {
  font-size: 35px;
  font-family: biorhyme;
  color: #4c2f63;
}
.section-header-alt {
  font-size: 35px;
  font-family: biorhyme;
  /* color: #4c2f63; */
}
.project-desc {
  font-size: large;
  font-family: opensans;
  font-weight: 600;
  padding-bottom: 26px;
  text-align: center;
}

.my-contributions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin-top: 24px;
  padding: 24px 45px;
  /* width: 100%; */
  height: 100%;
}

.mc-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-right: 33px;
  /* width: 50%; */
}

.mc-right {
  /* width: 50%; */
  /* padding-right: 45px; */
  margin-left: 33px;

  background: rgba(227, 213, 231, 0.4);
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* width: 50%; */
  max-width: 46%;
}

.mc-header {
  font-size: x-large;
  font-weight: 600;
}

.overview {
  /* width: 100%; */
  background: rgba(227, 213, 231, 0.4);
  margin-top: 32px;
  padding: 24px 45px;
}

.issue {
  padding: 24px 45px;
}
.research {
  /* width: 100vw; */
  padding: 24px 45px;
}
.insights {
  padding: 24px 45px;
}
.goals {
  padding: 24px 45px;
}
.design-process {
  padding: 24px 45px;
  background-color: #f7f7f7;
}
.result {
  padding: 24px 45px;
  /* width: 100%; */
}
.thanks {
  padding: 24px 45px;
  background-color: #363062;
  color: white;
  width: 92%;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

/* img {
  margin-bottom: 24px;
} */

#project-btn {
  color: white;
  background-color: #4c2f63;
  font-size: large;
  margin-top: 20px;
}
#project-btn:hover {
  color: black;
  background-color: transparent;
}
