.contact-page {
  height: 100vh;
  background-color: #605175;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  overflow-y: hidden;
  font-family: opensans;

  @media screen and (max-width: 1400px) {
    height: 120vh;
    padding-top: 30px;
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.contact-side {
  width: 35%;
  /* height: 100vh; */
  background-color: #605175;
  /* opacity: 40%; */
  margin-top: 80px;
  overflow-y: hidden;
  @media screen and (max-width: 480px) {
    width: 90%;
    margin-top: 10px;
  }
}

.contact-text {
  padding: 65px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  height: 85vh;
  font-family: Merriweather;

  @media screen and (max-width: 1400px) {
    padding: 35px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    height: 85vh;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
    height: 90vh;
  }
}

.contact-inner-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 30vh;
  font-family: Merriweather;
}

.contact-header {
  font-size: xxx-large;
  @media screen and (max-width: 480px) {
    font-size: medium;
    letter-spacing: 1px;
    text-decoration: underline;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.contact-envelope {
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: relative;
  margin-top: 12%;
  z-index: 0;
  /* animation: fade-out 2.5s ease-out infinite alternate; */
  @media screen and (max-width: 1400px) {
    width: 65%;
    margin-top: 20%;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
    margin-top: -10%;
  }
}

.env-fold {
  margin-bottom: 580px;
  position: absolute;
  z-index: -3;

  @media screen and (max-width: 1400px) {
    margin-bottom: 510px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 280px;
  }
}

.env-form-0 {
  width: 590px;
  height: 600px;
  margin-bottom: 380px;
  position: absolute;
  z-index: -2;
  background-color: white;
  border-radius: 8px;
  /* animation-delay: 2.5s; */
  @media screen and (max-width: 1400px) {
    width: 480px;
    height: 500px;
    margin-bottom: 380px;
  }
  @media screen and (max-width: 480px) {
    width: 290px;
    height: 400px;
  }
}
.env-form-1 {
  width: 590px;
  height: 500px;
  margin-bottom: 250px;
  position: absolute;
  z-index: -2;
  background-color: white;
  border-radius: 8px;
  /* animation-delay: 2.5s; */
  @media screen and (max-width: 1400px) {
    width: 480px;
    height: 500px;
    margin-bottom: 250px;
  }
  @media screen and (max-width: 480px) {
    width: 290px;
    height: 400px;
  }
}
.env-form-2 {
  width: 590px;
  height: 420px;
  margin-bottom: 150px;
  position: absolute;
  z-index: -2;
  background-color: white;
  border-radius: 8px;
  animation-delay: 2.5s;
  @media screen and (max-width: 1400px) {
    width: 480px;
    height: 420px;
    margin-bottom: 150px;
  }
  @media screen and (max-width: 480px) {
    width: 290px;
    height: 290px;
  }
}
.env-form-3 {
  width: 590px;
  height: 300px;
  margin-bottom: 50px;
  position: absolute;
  z-index: -2;
  background-color: white;
  border-radius: 8px;
  /* animation-delay: 2.5s; */
  @media screen and (max-width: 1400px) {
    width: 480px;
    height: 300px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 480px) {
    width: 290px;
    height: 200px;
  }
}

.contact-sent {
  color: black;
  font-size: xx-large;
  padding-bottom: 50px;

  position: absolute;
  top: 10px;
}

.env-sides {
  position: absolute;
  z-index: -2;
  /* margin-top: 30px; */
  @media screen and (max-width: 1400px) {
    margin-top: -20px;
  }
}

.env-front {
  position: absolute;
  z-index: -1;
  margin-top: 140px;
  @media screen and (max-width: 1400px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 40px;
  }
}

.inputs {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  color: black;
  padding: 5px;
  font-family: Merriweather;
  @media screen and (max-width: 480px) {
    font-size: medium;
  }
}

.send {
  position: absolute;
  z-index: 8;
  top: 290px;
  left: 265px;
  /* need media query lol */
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 3px 10px;
  font-family: Merriweather;

  @media screen and (max-width: 1400px) {
    border: 1px solid black;
    border-radius: 16px;
    font-size: 16px;
    color: black;

    background-color: white;
    position: absolute;
    z-index: 8;
    top: 260px;
    left: 205px;
    /* need media query lol */
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 3px 10px;
  }
  @media screen and (max-width: 480px) {
    border: 1px solid black;
    border-radius: 16px;
    font-size: medium;
    color: black;

    background-color: white;
    position: absolute;
    z-index: 8;
    top: 265px;
    left: 115px;
    /* need media query lol */
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 3px 10px;
  }
}

.li-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

input {
  width: 80%;
  font-size: medium;
  color: black;
  padding: 2px;
  font-family: Merriweather;

  @media screen and (max-width: 1400px) {
    width: 78%;
    font-size: 15px;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}
textarea {
  width: 80%;
  height: 80px;
  color: black;
  font-family: Merriweather;

  @media screen and (max-width: 1400px) {
    width: 78%;
    height: 60px;
    font-size: 15px;
  }
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}

input::placeholder-shown {
  color: black;
  font-family: Merriweather;
}

#fold {
  width: 777px;

  @media screen and (max-width: 1400px) {
    width: 645px;
  }
  @media screen and (max-width: 480px) {
    width: 345px;
  }
}

#front {
  width: 777px;

  @media screen and (max-width: 1400px) {
    width: 645px;
  }
  @media screen and (max-width: 480px) {
    width: 345px;
  }
}

#sides {
  width: 777px;
  /* margin-right: 34px; */
  @media screen and (max-width: 1400px) {
    width: 645px;
    /* margin-left: 5px; */
  }
  @media screen and (max-width: 480px) {
    width: 345px;
  }
}

#closed {
  width: 777px;

  @media screen and (max-width: 1400px) {
    width: 677px;
  }
  @media screen and (max-width: 480px) {
    width: 377px;
  }
}

#seal {
  width: 777px;

  @media screen and (max-width: 1400px) {
    width: 677px;
  }
  @media screen and (max-width: 480px) {
    width: 377px;
  }
}
