.intro-page {
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-starts;
  align-content: stretch;
  color: black;
  background-color: #fff;
  font-family: Merriweather;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.intro-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  max-width: 49%;
}

.i-name {
  font-size: 78px;
  width: 60%;
  padding: 45px 0px 20px 0px;
}

.i-title {
  font-size: 24px;
  color: #774a16;
  padding: 0px 0px 25px 0px;
}

.i-desc {
  font-size: 18px;
}

.i-picture {
  padding: 20px 0px;
}
