.intro-page {
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  /* margin-top: 100px; */
  color: white;
  background-color: #b897d2;
  /* width: 100vw; */
  @media screen and (max-width: 1360px) {
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    /* margin-top: 100px; */
    color: white;
    background-color: #b897d2;
  }
}
.intro-text {
  margin-top: 180px;
  margin-left: 300px;
  font-size: 58px;
  font-family: biorhyme-bold;
  @media screen and (max-width: 1366px) {
    margin-top: 180px;
    margin-left: 140px;
    font-size: xxx-large;
    font-family: biorhyme-bold;
  }
}

.intro-pic {
  margin-top: -120px;
  margin-right: 210px;

  @media screen and (max-width: 1366px) {
    margin-top: -100px;
    margin-right: 0px;
  }
}

#sawara-intro {
  width: 730px;
  @media screen and (max-width: 1366px) {
    width: 605px;
  }
}

.fade-in-0 {
  transition: opacity 0.8s ease;
  color: #d6a243;
}
.fade-in-1 {
  transition: opacity 0.8s ease;
  color: #ff9ab3;
}
.fade-in-2 {
  transition: opacity 0.8s ease;
  color: #68cc58;
}
.fade-in-3 {
  transition: opacity 0.8s ease;
  color: #fec203;
}
.fade-in-4 {
  transition: opacity 0.8s ease;
  color: #c9f3e8;
}

.fade-out-0 {
  opacity: 0;
  transition: opacity 0.7s ease;
  color: #d6a243;
}
.fade-out-1 {
  opacity: 0;
  transition: opacity 0.7s ease;
  color: #ff9ab3;
}
.fade-out-2 {
  opacity: 0;
  transition: opacity 0.7s ease;
  color: #68cc58;
}
.fade-out-3 {
  opacity: 0;
  transition: opacity 0.7s ease;
  color: #fec203;
}
.fade-out-4 {
  opacity: 0;
  transition: opacity 0.7s ease;
  color: #c9f3e8;
}
