.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  /* width: 100%; */
  padding: 30px;
  height: 5.2vh;
  background-color: aliceblue;
  overflow-x: hidden;
  font-family: Merriweather-bold;
  background-color: #fff;

  overflow: hidden;
  @media screen and (max-width: 480px) {
    padding: 20px;
  }
}

.header-container-true {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  /* width: 100%; */
  padding: 30px;
  height: 5.2vh;
  background-color: aliceblue;
  overflow-x: hidden;
  /* border-bottom: 3px solid white; */
  background-color: #000000;
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.header-icon {
  margin-top: -20px;
  margin-left: 15px;
  padding: 0px;
  @media screen and (max-width: 480px) {
    font-size: 25px;
    padding: 10px 0px;
    margin-left: 0px;
    margin-top: -18px;
  }
}
.header-icon:hover {
  filter: invert(92%) sepia(10%) saturate(363%) hue-rotate(299deg)
    brightness(97%) contrast(88%);
  cursor: pointer;
}

.header-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 65%;
  margin-top: 5px;
  font-size: 22px;
  color: #774a16;

  @media screen and (max-width: 1400px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    width: 65%;
    margin-top: 2px;
    font-size: 20px;
  }
  @media screen and (max-width: 480px) {
    font-size: 25px;
    padding: 10px 0px;
    margin-left: 0px;
    margin-top: -15px;
    font-size: large;
  }
}

.link-1:hover {
  text-decoration: underline;
  color: #a76d29;
  cursor: pointer;
}
.link-2:hover {
  text-decoration: underline;
  color: #a76d29;

  cursor: pointer;
}
.link-3:hover {
  text-decoration: underline;
  color: #a76d29;

  cursor: pointer;
}
.link-4:hover {
  text-decoration: underline;
  color: #a76d29;

  cursor: pointer;
}

.resume-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  color: #774a16;

  font-weight: 400;
}
.resume-link:hover {
  text-decoration: underline;
  color: #a76d29;
}

#dl:hover {
  filter: invert(93%) sepia(4%) saturate(670%) hue-rotate(297deg)
    brightness(93%) contrast(95%);
}
